.navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #7DA4D2;
  font-weight: 300; }

.navbar .brand a {
  display: block;
  margin-top: 13px;
  margin-bottom: 13px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1.5px; }

.navbar ul {
  float: right;
  padding: 0;
  margin: 0; }

.navbar li {
  list-style-type: none;
  display: inline-block;
  padding-left: 25px; }

.navbar li a {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px; }
