.products {
  margin-top: 55px; }
  .products .product-card-description-div {
    height: 90px; }
  .products .product-card-description {
    margin-top: -15px;
    font-style: italic; }
  .products .product-link-div {
    padding-top: 5px;
    padding-bottom: 20px; }
  .products .product-link {
    text-decoration: none;
    color: #7DA4D2; }

.product-detail {
  margin-top: 115px; }
  .product-detail .product-image {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #FFFFFF; }
  .product-detail h1 {
    margin-bottom: 30px; }
  @media (min-width: 992px) {
    .product-detail {
      /* Currently for medium screens & above
    Change depending on responsiveness needs */ }
      .product-detail .product-info {
        margin-left: 25px; } }

.reviews {
  margin-top: 30px; }
  .reviews .card {
    padding: 25px; }
    .reviews .card h2 {
      margin-left: 20px;
      margin-bottom: 40px; }
  .reviews .review {
    margin-bottom: 40px; }
