.cart {
  margin-top: 55px;
  max-width: 800px;

  .card {
    padding: 40px;

    .card-image {
      border-radius: 0;
      border-bottom-width: 0;
      max-width: 100px;
    }
  }
}

.single-product {
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  &:last-child {
    margin-top: 50px;
  }

  a {
    text-decoration: none;
    color: #7DA4D2;
    margin-left: 20px;
  }

  .input-group {
    margin-top: 13px;
  }

  input {
    width: 35px;
    height: 22px;
    border-radius: 5px 0 0 5px;
  }

  .quantity-button {
    border-radius: 0 5px 5px 0;
    width: 22px;
    height: 22px;
    box-shadow: none;
  }

  .remove-from-cart {
    margin-top: 67px;

    button {
      background-color: #D9534F;
    }
  }
}

.order-total {
  margin-top: 50px;
  margin-bottom: 50px;
}

.checkout-information {
  width: 320px;
  margin-bottom: 20px;

  input {
    border-radius: 5px;
    width: 250px;
    height: 25px;
    margin-top: 10px;
  }
}

.checkout-button {
  width: 88px;
  height: 33px;
  font-size: 14px;
  background-color: #5CB85C;
}
