body {
  margin: 0;
  background: #DDE1E6;
  font-family: 'Lato', sans-serif;
}

.center {
  text-align: center;
}

#main.container {
  margin-top: 50px;
}

h1 {
  margin: 60px auto;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 300;
}

.standalone-link-div {
  margin: 30px auto 60px auto;
  background-color: #7DA4D2;
  border-radius: 5px;
  width: 132px;
  font-size: 18px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  .standalone-link {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
  }
}

.card {
  background: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 30px;

  .card-image {
    display: block;
    border-radius: 5px 5px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #979797;
  }

  h3, p {
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
  }
}

button {
  font-family: 'Lato', 'sans-serif';
  border-radius: 5px;
  border-width: 0;
  color: #FFFFFF;
  background-color: #7DA4D2;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
