.products {
  margin-top: 55px;

  .product-card-description-div {
    height: 90px;
  }

  .product-card-description {
    margin-top: -15px;
    font-style: italic;
  }

  .product-link-div {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .product-link {
    text-decoration: none;
    color: #7DA4D2;
  }
}

.product-detail {
  margin-top: 115px;

  .product-image {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #FFFFFF;
  }

  h1 {
    margin-bottom: 30px;
  }

  @media (min-width: 992px) {
    /* Currently for medium screens & above
    Change depending on responsiveness needs */
    .product-info {
      margin-left: 25px;
    }
  }
}

.reviews {
  margin-top: 30px;

  .card {
    padding: 25px;

    h2 {
      margin-left: 20px;
      margin-bottom: 40px;
    }
  }

  .review {
    margin-bottom: 40px;
  }
}
