.products {
  margin-top: 55px;

  .product-card-description-div {
    height: 90px;
  }

  .product-card-description {
    margin-top: -15px;
    font-style: italic;
  }

  .product-link-div {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .product-link {
    text-decoration: none;
    color: #7DA4D2;
  }
}

.product-detail-container {
  height: 100%;
  margin: 5px;
  border-color: white;
  .main-image {
    padding: 1em;
    max-height: 600px;
    max-width:  100%;
    margin-bottom: 1em;

    img {
      display: block;
      margin: auto; } }

  .thumbnails > img {
    max-height: 100%;
    max-width: 100%;  }

  .card {
    background-color: #ffffff;
    margin-bottom: 1em;
    border-radius: 2px;
    padding: 1em;
    box-shadow: 3px 3px 3px grey;
    padding-top: 1em;
    img {
      max-width:100%;
      max-height: 100%; }
  }

  .reviews-box {
    padding: 1em 1em; }

}
/*
.card > :hover {
  box-shadow: 5px 5px 5px grey;
}
*/
